<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1 style="text-align: center">Biz haqimizda:</h1><hr>

    <div style="text-align: center;">
        <p><b>GM kompaniyasi</b></p><hr>
        <p>Manzilimiz: Farg'ona sh.</p>
        <p>Telefon raqami: +998901234556</p>
        <p>Email: <a href="mailto:gmfargona@gmail.com">gmfargona@gmail.com</a></p>

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR83d-eUEyfia-OP2bOO1uvPdN-uDLLCqTEXQ&s"
             style="display: block; margin: 20px auto; width: 300px;">
    </div>
</body>
</html>